.main-container {
    display: flex;
    flex-direction: row;
}
.side-container {
    flex-grow: 1;
    background-color: purple;    
}
.thread-container {
    flex-grow: 4;
    display: flex;
    flex-direction: column;
}
.thread-messages-container{
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.thread-message{
    display: flex;
    flex-direction: column;
}
.thread-message-title{
    /* Style for the title */
}
.thread-message-text{
    /* Style for the text of the message */
}
.thread-send-message-container{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}
.thread-send-message-btn{
    flex-grow: 1;
}
.thread-send-message-box{
    flex-grow: 5;    
}
