<!doctype html>

<html>

<head>
    <title>Slack Clone</title>
    <script src="/scripts/vue/dist/vue.js"></script>
    <script src="/scripts/vue-resource/dist/vue-resource.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="/css/main_styles.css">
</head>

<body>
    <div id="main" class="main-container">
        <div class="side-container">
            <ul>
                <li v-for="(thread, index) in threads" @click="changeActiveThread(index)">
                    {{ thread.name }}
                </li>
            </ul>
        </div>
        <div class="thread-container">
            <div class="thread-messages-container">
                <div class="thread-message" v-for="message in getActiveThread().messages">
                    <div class="thread-message-title">
                        <b>{{ message.from }}</b> <i>{{ (new Date(message.timestamp)).toISOString() }}</i>
                    </div>
                    <div class="thread-message-text">
                        {{ message.text }}
                    </div>
                </div>
            </div>
            <div class="thread-send-message-container">
                <!-- Here is where we send new messages -->
                <div class="thread-send-message-box">
                    <input type="text" v-model="new_message" v-on:keyup.enter="sendMessage()" placeholder="Type message...">
                </div>
                <div class="thread-send-message-btn">
                    <button type="button" @click="sendMessage()">Send</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
